.content{
    max-width: 500px;
    margin: auto;
    background-color: gray;
    padding: 2% 2%;
}

button{
    background-color:dodgerblue;
}

button:hover{
    color: aliceblue;
}
.error{
     color: red;
}